@import "tailwindcss";

@theme inline {
  --color-background: #FFFFFF;
  --color-surface: #F8F9FA;
  --color-foreground: #000000;
  --color-primary: #0033FF;
  --color-secondary-text: #4A4A4A;
  
  --font-serif: var(--font-dm-serif);
  --font-sans: var(--font-outfit);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --background: #FFFFFF;
  --surface: #F8F9FA;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-times {
  font-family: "Times New Roman", Times, serif;
}
